#home-flex{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #384BB5;
  width: 100%;
}
.box{
  margin: 10px;
  padding: 10px;
  color: #384BB5;
}
.homelink{
  text-decoration: underline
}
.homelink:hover{
  color: #F5D745;
  text-decoration: none;
}
.pageslink{
  color: #384BB5;
  text-decoration: underline
}
.pageslink:hover{
  color: white;
  text-decoration: none;
}
