<div class="container" id="aboutus-flex">
  <div class="container">
    <div class="header">
    <h5 class="pull-right" style="padding-top: 10px"><%= link_to "back", root_path, class: "pageslink" %></h5>
    <h2 style="margin-bottom: -15px">Pricing</h2>
    <hr id="headerline">
    </div>
    <div class="box" style="width: 400px">
      <p>Interested in working together? Worried about costs?</p>
      <p>To save you some time, check out <%= link_to "this outline", "/public/weredevelopers_pricing_2017.pdf", class: "pageslink" %> for more detailed information on what web development services we offer and estimated costs.</p>
    </div>
  </div>
</div>
